<div class="columns is-multiline">
  <div class="column" *ngFor="let service of valuesList; let i = index">
    <div class="card">
      <div class="card-content">
        <h4 class="title is-4">
          {{ service.name }}
        </h4>

        <div class="content is-margin">
          {{ service.description }}
        </div>

        <div class="content is-margin">
          {{ service.category }}
        </div>

      </div>
      <footer class="card-footer has-background-white-ter">
        <a href="#" class="card-footer-item" (click)="editService(i)">Editar</a>
        <a href="#" class="card-footer-item" (click)="removeService(i)">Eliminar</a>
      </footer>
    </div>
  </div>
</div>
