<div class="columns is-multiline">
  <div class="column" *ngFor="let service of valuesList; let i = index">
    <div class="card">
      <div class="card-content">
        <h4 class="title is-4">
          {{ service.name }}
        </h4>

        <div class="content is-margin">
          {{ service.description }}
        </div>

        <div class="content is-margin">
          {{ service.category }}
        </div>

      </div>
      <footer class="card-footer has-background-white-ter">
        <a href="#" class="card-footer-item" (click)="editService(i)">Editar</a>
        <a href="#" class="card-footer-item">Eliminar</a>
      </footer>
    </div>

    <!-- <div *ngIf="edit" class="content">
      <div class="columns">
        <div class="column">
          <div class="box">
            <p class="title has-text-centered">
              Servicio
            </p>
            <form [formGroup]="form">
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                  <input class="input" type="text" formControlName="name" placeholder="Ingrese un título">

                </div>
              </div>
              <div class="field">
                <label class="label">Descripción</label>
                <div class="control">
                  <input class="input" type="text" formControlName="description" placeholder="Ingrese una descripción">
                </div>

              </div>
              <div class="select is-multiple">
                <label class="label">Categoria</label>
                <select multiple size="3" formControlName="category">
                  <option value="Autos">Autos</option>
                  <option value="Salud">Salud</option>
                  <option value="Hogar">Hogar</option>
                </select>
              </div>
              <div class="column">
                <div class="control">
                  <button type="submit" [disabled]="!form.valid" class="button is-primary is-outlined flex-item"
                    (click)="saveListService()"> Guardar</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div> -->
  </div>
</div>
