<div class="container is-family-sans-serif">
  <h1 class="title has-text-centered is-1 is-capitalized">Servicios</h1>

  <header class="header is-family-code">
    <nav class="navbar has-background-white-ter" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            <h6 class="subtitle is-6">Todos</h6>
          </a>

          <a class="navbar-item">
            <h6 class="subtitle is-6">Autos</h6>
          </a>

          <a class="navbar-item">
            <h6 class="subtitle is-6">Salud</h6>
          </a>
          <a class="navbar-item">
            <h6 class="subtitle is-6">Hogar</h6>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <section class="section">
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-content">
            <h4 class="title is-4">
              Electricidad
            </h4>

            <div class="content is-margin">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
            </div>

          </div>
          <footer class="card-footer has-background-white-ter">
            <a href="#" class="card-footer-item" (click)="editServices()">Editar</a>
            <a href="#" class="card-footer-item" (click)="deletedServices()">Eliminar</a>
          </footer>
        </div>

      </div>
    </div>
    <div class="columns">
      <div class="column is-two-fifths">
        <div class="card">
          <div class="card-content">
            <p class="title">
              Servicio
            </p>

            <div class="content">
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Ingrese nombre del servicio">
                </div>
              </div>
              <div class="field">
                <label class="label">Descripción</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Ingrese una descripción del servicio">
                </div>
              </div>
            </div>

          </div>
          <footer class="card-footer has-background-white-ter">
            <div href="#" class="card-footer-item">
              <a class="button is-color-green" (click)="addServices()">Grabar</a>
            </div>
            <div href="#" class="card-footer-item">
              <a class="button is-danger is-outlined" (click)="cancelServices()">Cancelar</a>
            </div>
          </footer>
        </div>

      </div>
    </div>
  </section>
</div>
