<div class="wrapper container is-family-sans-serif">
  <h1 class="title has-text-centered is-1 is-capitalized">Servicios</h1>

  <header class="header is-family-code">
    <div class="tabs is-toggle is-fullwidth">
      <ul>
        <li class="is-active"><a (click)="filterItems('Todos')">Todos</a></li>
        <li><a (click)="filterItems('Autos')">Autos</a></li>
        <li><a (click)="filterItems('Salud')">Salud</a></li>
        <li><a (click)="filterItems('Hogar')">Hogar</a></li>
      </ul>
    </div>
  </header>

  <section class="box-list-form">
    <div class="list-service">
      <app-listService [valuesList]="listaServ"></app-listService>
    </div>

    <div class="form-service">
      <app-formService (addServiceChild)="newService($event)"></app-formService>
    </div>
  </section>


</div>
