<div class="container">
  <div class="columns">
    <div class="column is-5">
      <div class="box">
        <p class="title has-text-centered">
          Servicio
        </p>
        <form [formGroup]="formService">
          <div class="content">
            <!-- Nombre -->
            <div class="field">
              <label class="label">Nombre</label>
              <div class="control">
                <input class="input" formControlName="name" type="text" placeholder="Ingrese nombre del servicio">
              </div>
            </div>
            <!-- Descripcion -->
            <div class="field">
              <label class="label">Descripción</label>
              <div class="control">
                <input class="input" formControlName="description" type="text" placeholder="Ingrese una descripción del servicio">
              </div>
            </div>
            <!-- Categoria -->
            <div class="select is-multiple">
              <label class="label">Categoria</label>
              <select multiple size="3" formControlName="category">
                <option value="Autos">Autos</option>
                <option value="Salud">Salud</option>
                <option value="Hogar">Hogar</option>
              </select>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="control">
                <button type="submit" [disabled]="!formService.valid" class="button is-primary is-outlined flex-item"
                (click)="saveService()" *ngIf="isEmpty(edittingService)">Guardar</button>
              </div>
              <div class="control">
                <button type="submit" [disabled]="!formService.valid" class="button is-primary is-outlined flex-item"
                (click)="editService()" *ngIf="!isEmpty(edittingService)">Actualizar</button>
              </div>
            </div>
            <div class="column">
              <div class="control">
                <button type="button" [disabled]="!formService.valid" class="button is-danger is-outlined flex-item">
                  Cancelar</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>
